### Przygotowanie bazy danych

In [3]:
from pyomeca import Markers
from ezc3d import c3d
import importlib
import numpy as np
import pandas as pd

In [4]:
path = f'medical_dataset_AK\healthy\healthy_15.c3d'

In [5]:
sample = c3d(path)

In [6]:
sample

In [7]:
print('długość nagrania:', sample['parameters']['POINT']['FRAMES']['value'][0])

długość nagrania: 981

In [8]:
e_label = pd.DataFrame(sample['parameters']['EVENT']['LABELS']['value'])
e_contexts = pd.DataFrame(sample['parameters']['EVENT']['CONTEXTS']['value'])

times = sample['parameters']['EVENT']['TIMES']['value']

In [9]:
# p = np.concatenate((times[0], times[1]))

In [10]:
times

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [3.6500001 , 4.34000015, 2.25      , 5.01000023, 6.36999989,
        1.46000004, 2.98000002, 5.71000004, 7.09000015, 5.80999994,
        1.71000004, 3.0999999 , 4.44000006, 7.25      , 2.44000006,
        3.74000001, 5.11000013, 6.46000004, 8.02000046]])

In [11]:
e_frames = pd.DataFrame([value * 100 for value in times if value != 0]).astype(int)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [2]:
def read_labels(sample):
    e_label = pd.DataFrame(sample['parameters']['EVENT']['LABELS']['value'])
    e_contexts = pd.DataFrame(sample['parameters']['EVENT']['CONTEXTS']['value'])

    times = sample['parameters']['EVENT']['TIMES']['value']
    e_frames = pd.DataFrame(times[1] * 100).astype(int)

    event = pd.concat([e_label, e_contexts, e_frames], axis=1)
    event.columns = ['label', 'context', 'frames']
    event = event.set_index('frames')
    event = event.sort_index(axis=0)

    return event

In [3]:
from pyomeca import Markers
from ezc3d import c3d
import importlib
import numpy as np
import pandas as pd

path = f'medical_dataset_AK\healthy\healthy_02.c3d'

read_labels(c3d(path))

              label context
frames
211     Foot Strike   Right
269     Foot Strike    Left
282        Foot Off   Right
326     Foot Strike   Right
341        Foot Off    Left
383     Foot Strike    Left

In [83]:
def get_event_frames(sample, label, context):
    df = read_labels(sample)

    return [frame for frame in df.index if df['label'][frame] == label and df['context'][frame] == context]

In [84]:
get_event_frames(sample, 'Foot Strike', 'Right')

[146, 298, 434, 571, 709]

In [85]:
def get_one_step_time(sample, label, context):
    df = read_labels(sample)
    temp = [frame for frame in df.index if df['label'][frame] == label and df['context'][frame] == context]

    return temp[0], temp[1]

In [86]:
get_one_step_time(sample, 'Foot Strike', 'Right')

(146, 298)

In [87]:
d = Markers.from_c3d(path, ['LFHD','RFHD']).meca.to_wide_dataframe()

In [88]:
d

,ones_LFHD,ones_RFHD,x_LFHD,x_RFHD,y_LFHD,y_RFHD,z_LFHD,z_RFHD
time,,,,,,,,
0.00,1.0,1.0,-45.353775,-187.919693,2176.733154,2167.717773,1511.754395,1522.853760
0.01,1.0,1.0,-45.363224,-187.928894,2176.910400,2167.882324,1511.799927,1522.909912
0.02,1.0,1.0,-45.373493,-187.939102,2177.087646,2168.051270,1511.844604,1522.962891
0.03,1.0,1.0,-45.384571,-187.950333,2177.265137,2168.224365,1511.888550,1523.012573
0.04,1.0,1.0,-45.396469,-187.962555,2177.442627,2168.401855,1511.931763,1523.059082
...,...,...,...,...,...,...,...,...
9.76,1.0,1.0,-68.102509,-141.728165,-2693.305908,-2572.364746,1543.184692,1545.306152
9.77,1.0,1.0,-69.261848,-141.430359,-2694.498291,-2572.820557,1543.076050,1545.338135
9.78,1.0,1.0,-70.453659,-141.190079,-2695.618896,-2573.258057,1542.972656,1545.383667
9.79,1.0,1.0,-71.677933,-141.007416,-2696.667969,-2573.676758,1542.874390,1545.442627
9.80,1.0,1.0,-72.934647,-140.882385,-2697.645264,-2574.077148,1542.781372,1545.515137

In [89]:
start, stop =get_one_step_time(sample, 'Foot Strike', 'Right')

In [90]:
res = d[start:start + 113].reset_index().drop(['index'], axis=1)

KeyError: "['index'] not found in axis"

In [91]:
def read_labels(data_path):
    c3d_to_compare= c3d(data_path)
    event = c3d_to_compare['parameters']['EVENT']['LABELS']['value']
    time = np.around(c3d_to_compare['parameters']['EVENT']['TIMES']['value'][1]*1000)
    
    return [event, time]

In [92]:
read_labels(path)

[['Foot Strike',
  'Foot Strike',
  'Foot Strike',
  'Foot Strike',
  'Foot Strike',
  'Foot Strike',
  'Foot Strike',
  'Foot Strike',
  'Foot Strike',
  'Foot Off',
  'Foot Off',
  'Foot Off',
  'Foot Off',
  'Foot Off',
  'Foot Off',
  'Foot Off',
  'Foot Off',
  'Foot Off',
  'Foot Off'],
 3650.0]

In [93]:
def data_markers(data_path, marker_list):
    """
    Funkcja wczytujaca markery z pliku i zwracajaca tablice z danymi
    """

    
    data_markers = Markers.from_c3d(data_path, marker_list)
    data_markers = data_markers.meca.to_wide_dataframe()
     
        
    cols = [c for c in data_markers.columns if c.lower()[:4] != 'ones']
    markers_dataframe = data_markers[cols]
    return markers_dataframe

In [94]:
result = data_markers(path, ['LFHD','RFHD'])
result

,x_LFHD,x_RFHD,y_LFHD,y_RFHD,z_LFHD,z_RFHD
time,,,,,,
0.00,-45.353775,-187.919693,2176.733154,2167.717773,1511.754395,1522.853760
0.01,-45.363224,-187.928894,2176.910400,2167.882324,1511.799927,1522.909912
0.02,-45.373493,-187.939102,2177.087646,2168.051270,1511.844604,1522.962891
0.03,-45.384571,-187.950333,2177.265137,2168.224365,1511.888550,1523.012573
0.04,-45.396469,-187.962555,2177.442627,2168.401855,1511.931763,1523.059082
...,...,...,...,...,...,...
9.76,-68.102509,-141.728165,-2693.305908,-2572.364746,1543.184692,1545.306152
9.77,-69.261848,-141.430359,-2694.498291,-2572.820557,1543.076050,1545.338135
9.78,-70.453659,-141.190079,-2695.618896,-2573.258057,1542.972656,1545.383667
9.79,-71.677933,-141.007416,-2696.667969,-2573.676758,1542.874390,1545.442627
9.80,-72.934647,-140.882385,-2697.645264,-2574.077148,1542.781372,1545.515137

In [95]:
start= start/100
stop = stop/100

In [99]:
start, stop

(1.46, 2.98)

In [100]:

res = result[start:start + 1.13].reset_index().drop(['time'], axis=1)

In [101]:
res

        x_LFHD      x_RFHD       y_LFHD       y_RFHD       z_LFHD       z_RFHD
0    15.800202 -126.989876  2023.417358  2023.035278  1497.511108  1506.785522
1    14.887028 -127.905403  2018.893311  2018.175049  1497.349487  1506.576050
2    13.901535 -128.893295  2014.257812  2013.211060  1497.241821  1506.416504
3    12.848536 -129.948715  2009.508057  2008.142456  1497.190063  1506.309692
4    11.733487 -131.066116  2004.641968  2002.968872  1497.195557  1506.258301
..         ...         ...          ...          ...          ...          ...
109  -1.568620 -144.236572  1387.730713  1382.597900  1514.150757  1526.363403
110  -0.766825 -143.459076  1381.317871  1376.433960  1514.841309  1526.926514
111   0.002196 -142.713913  1374.935425  1370.309448  1515.513306  1527.472412
112   0.737760 -142.001617  1368.582642  1364.221924  1516.163818  1527.998047
113   1.439175 -141.322754  1362.258911  1358.168701  1516.789795  1528.500977

[114 rows x 6 columns]

In [59]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x_LFHD  0 non-null      float64
 1   x_RFHD  0 non-null      float64
 2   y_LFHD  0 non-null      float64
 3   y_RFHD  0 non-null      float64
 4   z_LFHD  0 non-null      float64
 5   z_RFHD  0 non-null      float64
dtypes: float64(6)
memory usage: 124.0 bytes

In [1]:
import glob
from pyomeca import Markers
from ezc3d import c3d
import importlib
import numpy as np
import pandas as pd

In [2]:
path = f'medical_dataset_AK'

In [3]:
filelist =[]
for file in glob.glob(f'{path}\\**\\*.c3d',recursive = True):
    filelist.append(file)

In [4]:
sample = c3d(filelist[1])
# get_one_step_time(sample, 'Foot Strike', 'Right')

In [5]:
sample

In [9]:
def read_labels(sample):
    e_label = pd.DataFrame(sample['parameters']['EVENT']['LABELS']['value'])
    e_contexts = pd.DataFrame(sample['parameters']['EVENT']['CONTEXTS']['value'])

    times = (sample['parameters']['EVENT']['TIMES']['value'][1]*100).astype(int)
    e_frames = pd.DataFrame([value * 100 for value in times if value != 0]).astype(int)

    event = pd.concat([e_label, e_contexts, times], axis=1)
    event.columns = ['label', 'context', 'frames']
    event = event.set_index('frames')
    event = event.sort_index(axis=0)

    return event

In [10]:
temp =[]
read_labels(sample)
start, stop = get_one_step_time(sample, 'Foot Strike', 'Right')
temp.append(stop - start)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [8]:
get_one_step_time(sample, 'Foot Strike', 'Right')

NameError: name 'get_one_step_time' is not defined

In [200]:
path = f'cut_one_gait_cycle_right'

filelist =[]
for file in glob.glob(f'{path}\\**\\*.c3d',recursive = True):
    filelist.append(file)

temp = []
for f in filelist:
    sample = c3d(f)
    read_labels(sample)
    start, stop = get_one_step_time(sample, 'Foot Strike', 'Right')
    temp.append(stop - start)
    
print('Avarange one step time', round(np.average(temp)/100,2))

Avarange one step time 1.28

In [185]:
temp

[152,
 160,
 136,
 130,
 130,
 165,
 159,
 163,
 107,
 134,
 166,
 121,
 117,
 151,
 115,
 110,
 115,
 112,
 130,
 120,
 152,
 125,
 110,
 96,
 110,
 112,
 110,
 108,
 106]

In [186]:
np.average(temp)

128.3448275862069